<div  class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}" ng-controller="dashboard3Ctrl">
    <div style="width: 100%;height:80px;">
        <table cellpadding="0" cellspacing="0" dir="rtl"
               style="width:100%; height: 80px;">
            <tr>
                <td>   &nbsp;&nbsp;    </td>
                <td><div style="color: #bcbec0;font-family: ASSISTANT;font-size: 45px;font-weight: 500;"> {{'Title3'|t}} </div><div style="color: #bcbec0;font-family: ASSISTANT;font-size: 40px;padding-right: 150px;top: 33px;position: absolute;">  {{'Title4'|t}}    </div>   </td>
                <td align="right" valign="middle" style="width: 250px; color: rgb(188, 190, 192); padding-top: 50px; font-family: ASSISTANT; font-size: 15px; direction: ltr;">
                    {{Title2}}{{'Title'|t}}
                </td>
                <td align="right" valign="middle" style="left: 160px; top: 30px; width: 138px; text-align: left; color: white; padding-left: 15px; font-family: ASSISTANT; font-size: 26px; position: absolute; direction: ltr;">
                    {{display_name}}
                </td>

                <td align="right" valign="middle" style="text-align: left;color: white;font-family: ASSISTANT;font-size: 16px;position: relative;direction: ltr;width: 30px;padding-left: 15px;">
                    <img src="../dashboard/assets/img/logo.png" />
                </td>

            </tr>
        </table>
    </div>
    <!--<div class="col-md-12" style="font-family:ASSISTANT; padding: 20px; font-size: 20px; position: relative;text-align:center"> </div>-->
</div>
<div class="user-profile clearfix">
</div>
