﻿<!DOCTYPE html>
<html lang="en" ng-app="BlurAdmin">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>טפסים מקוונים - דשבורד</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">
    <link rel="stylesheet" href="lib/ionicons.css?ver=09.01">
    <!--<link rel="stylesheet" href="lib/angular-toastr.css?ver=09.01">-->
    <!--<link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />-->
    <link href="lib/http/angular-toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="lib/animate.css?ver=09.01">
    <link rel="stylesheet" href="lib/bootstrap.css?ver=09.01">
    <link rel="stylesheet" href="lib/bootstrap-select.css?ver=09.01">
    <link rel="stylesheet" href="lib/bootstrap-switch.css?ver=09.01">
    <link rel="stylesheet" href="lib/bootstrap-tagsinput.css?ver=09.01">
    <link rel="stylesheet" href="lib/font-awesome.css?ver=09.01">
    <link rel="stylesheet" href="lib/fullcalendar.css?ver=09.01">
    <link rel="stylesheet" href="lib/leaflet.css?ver=09.01">
    <link rel="stylesheet" href="lib/angular-progress-button-styles.min.css?ver=09.01">
    <link rel="stylesheet" href="lib/chartist.min.css?ver=09.01">
    <link rel="stylesheet" href="lib/morris.css?ver=09.01">
    <link rel="stylesheet" href="lib/ion.rangeSlider.css?ver=09.01">
    <link rel="stylesheet" href="lib/ion.rangeSlider.skinFlat.css?ver=09.01">
    <link rel="stylesheet" href="lib/textAngular.css?ver=09.01">
    <link rel="stylesheet" href="lib/xeditable.css?ver=09.01">
    <link rel="stylesheet" href="lib/style.css?ver=09.01">
    <link rel="stylesheet" href="lib/select.css?ver=09.01">
    <link rel="stylesheet" href="app/main.css?ver=09.01">
    <link href="lib/flexcal-master/jquery-ui.css" rel="stylesheet" />

    <!--<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />-->
    <link href="lib/http/export.css" rel="stylesheet" />
    <link href="lib/TreeView/abn_tree.css" rel="stylesheet" />

    <!--<link rel="stylesheet" href="http://jimliu.github.io/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link href="lib/TreeMultySelect/demo.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="lib/TreeMultySelect/ui-tree.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="lib/TreeMultySelect/demolist.js"></script>
    <script src="lib/TreeMultySelect/HierarchyNodeService.js"></script>
    <script src="lib/TreeMultySelect/hierarchySearch.js"></script>
    <script src="lib/TreeMultySelect/demo.js"></script>-->


    <link href="Scripts/kendo.material.min.css" rel="stylesheet" />
    <link href="Scripts/kendo.common-material.min.css" rel="stylesheet" />

   
</head>
<body class="blur-theme  overlay" style=" color:black;" ng-controller="StartCtrl">
    <div class="body-bg"></div>
    <main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">
        <ba-sidebar></ba-sidebar>
        <page-top></page-top>
        <div class="al-main">

            <div class="al-content">
                <content-top></content-top> 
                <div ui-view autoscroll="true" autoscroll-body-top></div>
            </div>
        </div>
        <footer class="al-footer clearfix"> </footer>
        <back-top></back-top>
    </main>
    <div id="preLoad">
        <span id="textSpan2">{{'Loading'|t}}</span>
        <span class="loader">
            <span id="textSpan">0%</span>
        </span>
    </div>



    <!--<span class="loader dark"><span>0%</span></span>-->
    <div id="preloader" ng-show="!$pageFinishedLoading">
        <div></div>
    </div>

    <!--<div class="container">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="hidden" id="displayname" />
        <ul id="discussion"></ul>
    </div>-->
    <!--<script src="../bower_components/jquery/dist/jquery.js"></script>-->
    <!--<script src="lib/jquery.min.js"></script>-->
    <script src="lib/jquery-3.2.1.min.js"></script>
    <script src="lib/jquery-migrate-3.0.0.js"></script>
    <script src="lib/jquery-ui.js"></script>
    <link href="lib/flexcal-master/flexcal.css" rel="stylesheet" />
    <script src="lib/flexcal-master/jquery.textpopup.js"></script>
    <script src="lib/flexcal-master/jquery.flexcal.js"></script>
    <script src="lib/jquery.easypiechart.js"></script>
    <!--<script src="lib/jquery-latest.js"></script>-->
    <script src="lib/jquery.tablesorter.js"></script>
    <!--<script src="lib/pie.js"></script>-->
    <!--<script src="http://localhost:52992/lib/lodash.min.js"></script>-->
    <!--<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>-->

    <!--<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/none.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>-->
    <script src="lib/http/amcharts.js"></script>
    <script src="lib/http/serial.js"></script>
    <script src="lib/http/none.js"></script>
    <script src="lib/http/light.js"></script>
    <script src="lib/http/pie.js"></script>

    <script src="lib/Chart.js?ver=09.01"></script>
    <script src="lib/angular.js?ver=09.01"></script>
    <script src="lib/angular-route.js?ver=09.01"></script>
    <script src="lib/sortable.js?ver=09.01"></script>
    <script src="lib/dropdown.js?ver=09.01"></script>
    <!--<script src="lib/bootstrap-select.js?ver=09.01"></script>-->
    <script src="lib/bootstrap-switch.js?ver=09.01"></script>
    <script src="lib/bootstrap-tagsinput.js?ver=09.01"></script>
    <!--<script src="lib/moment.js?ver=09.01"></script>
    <script src="lib/leaflet-src.js?ver=09.01"></script>-->
    <script src="lib/angular-progress-button-styles.min.js?ver=09.01"></script>
    <script src="lib/angular-ui-router.js?ver=09.01"></script>
    <script src="lib/angular-resource.js?ver=09.01"></script>
    <script src="lib/angular-chart.js?ver=09.01"></script>
    <script src="lib/chartist.min.js?ver=09.01"></script>
    <script src="lib/angular-chartist.js?ver=09.01"></script>
    <script src="lib/angular-morris-chart.min.js?ver=09.01"></script>
    <script src="lib/FileSaver.js"></script>
    <script src="lib/ion.rangeSlider.js?ver=09.01"></script>
    <script src="lib/ui-bootstrap-tpls.js?ver=09.01"></script>
    <script src="lib/angular-animate.js?ver=09.01"></script>
    <script src="lib/rangy-core.js?ver=09.01"></script>
    <script src="lib/rangy-classapplier.js?ver=09.01"></script>
    <script src="lib/rangy-highlighter.js?ver=09.01"></script>
    <script src="lib/rangy-selectionsaverestore.js?ver=09.01"></script>
    <script src="lib/rangy-serializer.js?ver=09.01"></script>
    <script src="lib/rangy-textrange.js?ver=09.01"></script>
    <script src="lib/textAngular.js?ver=09.01"></script>
    <script src="lib/textAngular-sanitize.js?ver=09.01"></script>
    <script src="lib/textAngularSetup.js?ver=09.01"></script>
    <script src="lib/xeditable.js?ver=09.01"></script>
    <!--<script src="lib/select.js?ver=09.01"></script>-->
    <script src="app/pages/pages.module.js?ver=09.01"></script>
    <script src="app/theme/theme.module.js?ver=09.01"></script>
    <script src="app/pages/charts/charts.module.js?ver=09.01"></script>
    <script src="app/pages/dashboard/dashboard.module.js?ver=09.01"></script>
    <script src="app/pages/tables/tables.module.js?ver=09.01"></script>
    <script src="app/theme/components/components.module.js?ver=09.01"></script>
    <script src="app/theme/inputs/inputs.module.js?ver=09.01"></script>
    <script src="app/pages/charts/chartist/chartist.module.js?ver=09.01"></script>
    <script src="app/pages/charts/chartJs/chartJs.module.js?ver=09.01"></script>

    <script src="app/pages/charts/chartist/chartist.module.js"></script>
    <script src="app/app.js?ver=09.01"></script>
    <script src="app/theme/theme.config.js?ver=09.01"></script>
    <script src="app/theme/theme.configProvider.js?ver=09.01"></script>
    <script src="app/theme/theme.run.js?ver=09.01"></script>
    <script src="app/theme/theme.service.js?ver=09.01"></script>
    <script src="app/theme/services/preloader.js?ver=09.01"></script>


    <script src="app/pages/dashboard/dashboardPieChart/dashboardPieChart.directive.js"></script>
    <!--<script src="app/pages/dashboard/dashboardPieChart/DashboardPieChartCtrl.js"></script>-->
    <script src="app/pages/dashboard/pieCharts/dashboardPieChart.js"></script>
    <script src="app/theme/theme.constants.js?ver=09.01"></script>
    <script src="app/pages/tables/TablesPageCtrl.js?ver=09.01"></script>


    <script src="app/theme/components/pageTop/pageTop.directive.js"></script>
    <script src="app/theme/directives/includeWithScope.js?ver=09.01"></script>
    <script src="app/theme/directives/zoomIn.js?ver=09.01"></script>
    <script src="app/pages/charts/chartist/chartistCtrl.js?ver=09.01"></script>
    <script src="app/pages/charts/chartJs/chartJs1DCtrl.js?ver=09.01"></script>
    <script src="app/pages/charts/chartJs/chartJs2DCtrl.js?ver=09.01"></script>
    <script src="app/theme/components/baPanel/baPanel.directive.js?ver=09.01"></script>
    <script src="app/theme/components/baPanel/baPanel.service.js?ver=09.01"></script>
    <script src="app/theme/components/baPanel/baPanelBlur.directive.js?ver=09.01"></script>
    <script src="app/theme/components/baPanel/baPanelBlurHelper.service.js?ver=09.01"></script>
    <script src="app/theme/components/baPanel/baPanelSelf.directive.js?ver=09.01"></script>
    <script src="app/theme/services/baUtil.js?ver=09.01"></script>
    <script src="app/theme/components/baSidebar/baSidebar.service.js"></script>
    <script src="app/theme/components/baSidebar/baSidebar.directive.js?ver=09.01"></script>
    <script src="app/theme/components/baSidebar/baSidebar.service.js?ver=09.01"></script>
    <script src="app/theme/components/baSidebar/BaSidebarCtrl.js?ver=09.01"></script>
    <script src="app/theme/components/baSidebar/baSidebarHelpers.directive.js?ver=09.01"></script>
    <script src="Services/CreateSessionService.js?ver=09.01"></script>
    <script src="Scripts/kendo.all.min.js"></script>
    <script src="Scripts/kendo.he-IL.js"></script>
    <script src="Scripts/kendo.culture.he-IL.min.js"></script>
    <!--new-->
    <script src="app/Translate.js?ver=09.01"></script>
    <script src="Ctrls/StartCtrl.js?ver=09.01"></script>
    <script src="Ctrls/reportCtrl.js?ver=09.01"></script>
    <script src="Ctrls/report2Ctrl.js?ver=09.01"></script>
    <script src="Ctrls/dataManageCtrl.js?ver=09.01"></script>
    <script src="Ctrls/historyIndCtrl.js?ver=09.01"></script>
    <script src="Ctrls/dataManage2Ctrl.js?ver=09.01"></script>
    <script src="Ctrls/generalReportCtrl.js?ver=09.01"></script>
    <script src="Ctrls/historyInd2Ctrl.js?ver=09.01"></script>
    <script src="Ctrls/dashboard3Ctrl.js?ver=09.01"></script>
    <script src="Ctrls/dashboardCtrl.js?ver=09.01"></script>
    <script src="Ctrls/dashboard2Ctrl.js?ver=09.01"></script>
    <script src="Services/LevelsChartP3Service.js"></script>
    <script src="Services/DataManageService.js"></script>
    <script src="Services/DataManage2Service.js"></script>
    <script src="Services/HistoryIndService.js"></script>
    <script src="Services/HistoryInd2Service.js"></script>
    <script src="Services/ListService.js"></script>
    <script src="Services/Dashboard3Service.js"></script>
    <script src="Services/LoginService.js?ver=09.01"></script>
    <script src="Services/IdmService.js?ver=09.01"></script>
    <script src="Services/GuiScreenElementService.js?ver=09.01"></script>
    <script src="Services/DateinYearService.js?ver=09.01"></script>
    <script src="app/Translate.js?ver=09.01"></script>
    <script src="Services/Report2Service.js?ver=09.01"></script>
    <script src="lib/TreeView/abn_tree_directive.js?ver=09.01"></script>
    <script src="Services/OvedLogService.js?ver=09.01"></script>
    <script src="Services/GeneralReportService.js?ver=09.01"></script>
    <script src="Services/DashboardService.js?ver=09.01"></script>
    <script src="Services/StartService.js?ver=09.01"></script>
    <script src="Services/YechidaService.js?ver=09.01"></script>
    <!--SignalR-->
    <!--Script references. -->
    <!--Reference the jQuery library. -->
    <script src="Scripts/jquery-3.2.1.min.js"></script>
    <!--Reference the SignalR library. -->
    <script src="lib/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <!--<script src="http://jer-bina-tsta/signalr/hubs"></script>-->
    <!--Add script to update the page and send messages.-->
    <!--<script type="text/javascript">
        $(function () {
            $.connection.hub.url = "http://jer-bina-tsta/signalr";
            // Declare a proxy to reference the hub.
            var dashnotify = $.connection.cubeHub;
            // Create a function that the hub can call to broadcast messages.
            dashnotify.client.broadcastMessage = function (name, message) {
                // Html encode display name and message.
                var encodedName = $('<div />').text(name).html();
                var encodedMsg = $('<div />').text(message).html();
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + encodedName
                    + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
            };
            // Get the user name and store it to prepend to messages.
            $('#displayname').val(prompt('Enter your name:', ''));
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    dashnotify.server.send($('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
    </script>-->
</body>
</html>