
<div ng-controller="dashboard3Ctrl">
    <div class="row col-md-12">
        <div class="col-md-2">
            <div style="padding: 15px;">
                <div ng-if="Idm">
                    <select ng-options="opt.id as opt.Name for opt in userNames" ng-model="userNameSelected.slc" ng-change="ChangeUser({{opt}})" class="form-control" style="left: 460px; top: 40px; width: 190px; bottom: 30px; position: fixed; z-index: 1000; direction: rtl;"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:15px;">
        <div ng-if="dashChart.length>0" class="col-md-2 pie-chart-item-container" ng-repeat="item in dashChart" style="width:20%;cursor:help" ng-attr-title="{{item.BiQueryToolTip}}">
            <div ba-panel ng-style="item.background" style="z-index:800">
                <div class="pie-chart-item">
                    <div style="left: 30px; top: 30px; color: white; font-size: 40px; float: left; position: absolute; direction: ltr;">{{item.perc}}</div>
                    <div class="description">
                        <div ng-if="item.BiQueryLink==null">{{item.BiQueryDesc }}</div>
                        <a ng-if="item.BiQueryLink!=null" ng-href={{item.BiQueryLink}} target="_blank" style="color: white; text-decoration: underline;">{{item.BiQueryDesc }}</a>
                        <!--<a ng-if="$index==4"  href="http://jeronlineformsmng/SendedForms.aspx" target="_blank" style="color:white">{{item.BiQueryDesc }}</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-4 col-md-12">
            <div ba-panel ba-panel-title="{{'LevelsTask'|t}}" ba-panel-class="with-scroll " title="{{'LevelsTaskAlt'|t}}" style="background-color:white;height: 390px; position: relative;overflow:hidden">
                <a href="#" id="panel1-fullscreen" style="left: 15px; top: 20px; position: absolute;" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a>
                <div class="col-md-10">
                    <div>
                        <div id="chartdiv4"></div>
                        <div id="legenddiv4"></div>
                        <!--<canvas id="bar" style="cursor:pointer; width:400px  !important;height:310px !important " chart-click="grafClickEvent" class="chart chart-bar" chart-data="dataBar" chart-labels="labelsBar" chart-colors="Colors2" chart-series="seriesBar"></canvas>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div ba-panel ba-panel-title="{{'BarChartLeft'|t}}" ba-panel-class=" " title="{{'BarChartLeftAlt'|t}}" style="background-color: white;height: 390px; position: relative;overflow:hidden">
                <a href="#" id="panel2-fullscreen" style="left: 15px; top: 20px; position: absolute;" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a>
                <div id="chartdiv6"></div>   <div>
                    <!--<div id="chartdiv5"></div>
                    <div id="legenddiv5"></div>-->
                    <!--<div class="chartjs-canvas-holder-first-row">
                        <canvas style="height: 320px !important; text-align: center;  display: block; cursor: pointer; direction: rtl !important;" id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"></canvas>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12" ng-controller="TablesPageCtrl">
            <div ba-panel ba-panel-title="{{'footer1'|t}}" ba-panel-class="with-scroll  " style="background-color: white;">
                <a href="#" id="panel3-fullscreen" style="left: 15px; top: 20px; position: absolute;" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a>
                <div style="height: 300px;">
                    <div include-with-scope="app/pages/tables/widgets/hoverRows2.html"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div style="direction: rtl; background-color: white;" ba-panel ba-panel-title="{{'footer3'|t}} " ba-panel-class="with-scroll table-panel">

                <!--<div include-with-scope="app/pages/tables/widgets/hoverRows1.html"></div>-->
                <a href="http://jeronlineformsmng/index.html" target="_blank" style="padding: 20px 15px 15px; left: 26px; top: 0px; position: absolute;">{{'ToAllForms'|t}}</a>
                <a ng-click="Clean()" style="padding: 20px 15px 15px; left: 146px; top: 0px; text-decoration: underline; position: absolute;">{{'Clean'|t}}</a>
                <div class="horizontal-scroll" style=" direction: rtl;">
                    <table class="table table-hover tablesorter" id="myTable">
                        <thead>
                            <tr class="black-muted-bg">
                                <th class="align-right"><a class="MyUnderLine" ng-click="sortTable(0)">{{'th1'|t}}<div class="tablesorter-icon2"></div></a></th>
                                <th class="align-right"><a class="MyUnderLine" ng-click="sortTable(1)">{{'th2'|t}}<div class="tablesorter-icon2"></div></a></th>
                                <th class="align-right"><a class="MyUnderLine" ng-click="sortTable(2)">{{'th3'|t}}<div class="tablesorter-icon2"></div></a></th>
                                <th class="align-right"><a class="MyUnderLine" ng-click="sortTable(3)">{{'th16'|t}}<div class="tablesorter-icon"></div></a></th>
                                <th class="align-right"><a class="MyUnderLine" ng-click="sortTable(4)">{{'th4'|t}}<div class="tablesorter-icon2"></div></a></th>
                                <th class="align-right"><a class="MyUnderLine" ng-click="sortTable(5)">{{'th7'|t}}<div class="tablesorter-icon2"></div></a></th>
                                <th class="align-right"><a class="MyUnderLine" ng-click="sortTable(6)">{{'th14'|t}}<div class="tablesorter-icon2"></div></a></th>
                                <th class="align-right"><a class="MyUnderLine" ng-click="sortTable(7)">{{'th15'|t}}<div class="tablesorter-icon2"></div></a></th>
                                <th class="align-right"><a class="MyUnderLine" ng-click="sortTable(8)">{{'th5'|t}}<div class="tablesorter-icon2"></div></a></th>
                                <th class="align-right"><a class="MyUnderLine" ng-click="sortTable(9)">{{'th6'|t}}<div class="tablesorter-icon2"></div></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in metricsTableData" class="no-top-border" ng-click="FormWatchClick(item.Id)">
                                <td ng-class="align-center">{{item.Id}}</td>
                                <td ng-class="align-center">{{item.TypeFormName}}</td>
                                <td ng-class="align-center">{{item.CreateDate}}</td>
                                <td ng-class="align-center">{{item.HeaderText}}</td>
                                <td ng-class="align-center">{{item.StatusName}}</td>
                                <td ng-class="align-center">{{item.UpdateDate}}</td>
                                <td ng-class="align-center">{{item.SenderFirstName}}</td>
                                <td ng-class="align-center">{{item.SenderLastName}}</td>
                                <td ng-class="align-center">{{item.Sla}}<div style="margin-left: 15px; float: right;" ng-class="{'red':item.IsStatusRed, 'green':item.IsStatusGreen, 'yellow':item.IsStatusYellow}" /></td>
                                <td ng-class="align-center">{{item.SlaColor}}<div style="margin-left: 15px; float: right;" ng-class="{'red':item.IsHistStatusRed, 'green':item.IsHistStatusGreen,'yellow':item.IsHistStatusYellow}" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <ul id="discussion"></ul>
    </div>
</div>
<style>
    .tablesorter-icon2 {
        min-width:20px;
        min-height:14px;
        float:left;
        margin-top:2px;
        background-repeat: no-repeat;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAOCAMAAADOvxanAAAAVFBMVEUAAABCQkJZWVkZGRnJyckgICAZGRkZGRn8/PweHh4dHR0aGhoaGhpUVFQbGxvQ0NDc3NxMTExSUlIbGxvr6+s4ODhKSkogICAtLS00NDQzMzMnJydSEPrQAAAAGHRSTlMA1ssZRLgdAQbDyisqsZo8QdXUq0r9xPepSRwiAAAAX0lEQVQI13XHSQKAIAwEwQAKxn13Ev7/T2Pu9qmarJKPXIicI4PH4hxaKNrhm2S8bJK5h4YzKHrzJNtK6yYT/TdXzpS5zuYg4MSQYF6i4IHExdw1UVRi05HPrrvT53a+qyMFC9t04gcAAAAASUVORK5CYII=");
    }

    /*.MyUnderLine {
        text-decoration: underline !important;
    }*/

    .panel-title {
        direction: rtl;
        font-weight: $font-normal !important;
        text-transform: uppercase !important;
        opacity: 0.9 !important;
        font-size: 25px !important;
        text-align: right !important;
        /*margin: 10px !important;*/
        position: relative !important;
        color: black;
    }

    th.headerSortUp {
        background-image: url(../img/small_asc.gif);
        background-color: #3399FF;
    }

    th.headerSortDown {
        background-image: url(../img/small_desc.gif);
        background-color: #3399FF;
    }

    th.header {
        background-image: url(../img/small.gif);
        cursor: pointer;
        font-weight: bold;
        background-repeat: no-repeat;
        background-position: center left;
        padding-left: 20px;
        border-right: 1px solid #dad9c7;
        margin-left: -1px;
    }
</style>
