
<div ng-controller="dashboardCtrl">
    <div class="col-md-12" style="text-align: center;font-size: 20px;padding: 20px;padding-bottom:60px">
        <div ng-if="my_data.length>0" class="dashboard col-md-2" style="border: 1px solid gray; border-image: none; padding-top: 5px; padding-right: 6px; padding-bottom: 8px; margin-left: 100px; z-index: 400; background-color: white;text-align:right;position:absolute;left:10%">
            <abn-tree ng-if="my_data.length>0" on-select="my_tree_handler(branch)" tree-data="my_data" tree-control="my_data" expand-level="0"></abn-tree>
            <!--<input style='top: -30px; height: 23px; margin-top: -22px; float: left; background-color: white;' type='button' ng-click='Show()' value={{'Show'|t}} />-->
        </div>
        <div class="col-md-2" style="left: 30%; position: absolute; z-index: 500;">{{'dim2'|t}}</div>
        <div ng-if="my_data2.length>0" class="dashboard col-md-4" style="border: 1px solid gray; border-image: none; padding-top: 5px; padding-right: 6px; padding-bottom: 8px; z-index: 400; background-color: white;text-align:right;position:absolute;right:20%">
            <abn-tree ng-if="my_data2.length>0" on-select="my_tree_handler2(branch)" tree-data="my_data2" tree-control="my_data2" expand-level="0"></abn-tree>
            <!--<button ng-click='Show()' style='top: -30px; height: 23px; color: blue; text-decoration: underline; margin-top: -22px; float: left;'>{{'Show'|t}}</button>-->
        </div>
        <div class="col-md-2" style="position: absolute; z-index: 500;">{{'dim1'|t}}</div>
        <div class="col-md-1"> </div>
    </div>

    <div class="row" style="padding-top:15px;">
        <div ng-if="dashChart.length>0" class="col-md-3 pie-chart-item-container" ng-repeat="item in dashChart" style="width:24%;cursor:help" ng-attr-title="{{item.BiQueryToolTip}}">
            <div ba-panel ng-style="item.background" style="z-index:800">
                <div class="pie-chart-item">
                    <div style="left: 30px; top: 30px; color: white; font-size: 40px; float: left; position: absolute; direction: ltr;">{{item.perc}}</div>
                    <div class="description">
                        <div ng-if="item.BiQueryLink==null">{{item.BiQueryDesc }}</div>
                        <a ng-if="item.BiQueryLink!=null" ng-href={{item.BiQueryLink}} target="_blank" style="color: white; text-decoration: underline;">{{item.BiQueryDesc }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="panelBarChart" ba-panel ba-panel-title="{{'BarChartLeft22'|t}}" ba-panel-class=" " ba-panel-title2="{{'BarChartLeftAlt2'|t}}" style="background-color: white;height: 390px; position: relative;overflow:hidden">
                <a id="panel2-fullscreen" style="left: 15px; top: 20px; position: absolute;" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a>
                <a ng-click="back()" ng-if="chartdiv2Level1 || chartdiv2Level2" style="left: 60px; top: 19px; position: absolute;" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-share-alt" style="font-size:20px"></i></a>
                <div ng-show="chartdiv2Level0" style="cursor: pointer">
                    <div id="chartdiv2"></div>
                    <div id="legenddiv2" style="position: relative!important;"></div>
                </div>
                <div ng-show="chartdiv2Level1" style="cursor: pointer">
                    <div id="chartdiv2Level11"></div>
                </div>
                <div ng-show="chartdiv2Level2">
                    <div id="chartdiv2Level2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right:80px">
            <div ba-panel ba-panel-title="{{'footer1'|t}}" ba-panel-class="" ba-panel-title2="{{'footer1Alt'|t}}" style="background-color: white;height: 390px;  overflow:hidden" class="hidd">
                <a id="panel3-fullscreen" style="left: 15px; top: 20px; position: absolute;" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a>
                <a ng-click="backchartline()" ng-if="chartlineLevel1" style="left: 60px; top: 19px; position: absolute;" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-share-alt" style="font-size:20px"></i></a>
                <div ng-show="chartlineLevel0" style="cursor: pointer">
                    <div class="row" >
                        <div id="chartdiv3"></div>
                    </div>
                    <div class="row">
                        <div id="legenddiv3"></div>
                    </div> 
                </div>
                <div class="row" style="cursor: pointer" ng-show="chartlineLevel1">
                    <div class="row">
                        <div id="chartdiv3Level1"></div>
                    </div> 
                </div>
                <!--<div class="chartjs-canvas-holder-first-row">
                <canvas id="myLineChart" style="height: 260px !important; text-align: center;  display: block; cursor: pointer; direction: rtl !important;"></canvas>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3"><div>{{'New Requests'|t}}</div></div>
                        <div class="col-md-3" style="background-color:rgb(212,2,127) ;width: 20px;height: 15px;"></div>
                        <div class="col-md-3"><div>{{'Count In Treatment'|t}}</div></div>
                        <div class="col-md-3" style="background-color:rgb(110,208,247);width: 20px;height: 15px;"></div>
                        <div class="col-md-3"><div>{{'Form Closed'|t}}</div></div>
                        <div class="col-md-3" style="background-color:rgb(250,157,38);width: 20px;height: 15px;"></div>
                        <div class="col-md-3"></div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 dashboard2" style="padding-top:20px">
            <div class="chartjs-canvas-holder-first-row">
                <div ba-panel ba-panel-title="{{'Label15b'|t}}" ba-panel-class="with-scroll " ba-panel-title2="{{'Label15bAlt'|t}}" style="background-color: white;height: 400px; position: relative;overflow:hidden">
                    <a id="panel1-fullscreen" style="left: 15px; top: 20px; position: absolute;" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a>
                    <a ng-click="backchartdiv7()" ng-if="chartdiv7Level1 || chartdiv7Level2" style="left: 60px; top: 19px; position: absolute;" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-share-alt" style="font-size:20px"></i></a>
                    <div ng-show="chartdiv7Level0" style="cursor: pointer">
                        <div id="chartdiv7"></div>
                    </div>
                    <div ng-show="chartdiv7Level1">
                        <div id="chartdiv7Level1"></div>
                    </div>
                    <!--<div ng-show="chartdiv7Level2">
                        <!--<div id="chartdiv7Level2"></div>
                    </div>-->
                    <!--<div id="legenddiv"></div>-->
                    <!--<div class="chartjs-canvas-holder-first-row">
                           <canvas style="height: 320px !important; text-align: center;  display: block; cursor: pointer; direction: rtl !important;" id="doughnut2" class="chart chart-doughnut" chart-data="data2" chart-labels="labels2" chart-colors="colours"></canvas>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12" style="padding-right:80px;padding-top:20px">
            <div ba-panel ba-panel-title="{{'BarChartLeft2'|t}}" ba-panel-title2="{{'BarChartLeft2Alt'|t}}" ba-panel-class="with-scroll " style="background-color: white;">
                <a id="panel4-fullscreen" style="left: 15px; top: 20px; position: absolute;" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a>
                <a ng-click="backmyChart()" ng-if="myChart2Level1" style="left: 60px; top: 19px; position: absolute;" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-share-alt" style="font-size:20px"></i></a>
                <div ng-show="myChart2Level0">
                    <canvas id="myChart" style="height: 260px !important; text-align: center;  display: block; cursor: pointer; direction: rtl !important;"></canvas>
                </div>
                <div ng-show="myChart2Level1">
                    <canvas id="myChart2" style="height: 260px !important; text-align: center;  display: block;direction: rtl !important;"></canvas>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-3"><div>{{'Status6'|t}}</div></div>
                        <div class="col-md-3" style="background-color: rgba(222, 135, 135, 1);width: 20px;height: 15px;"></div>
                        <div class="col-md-3"><div>{{'Status7'|t}}</div></div>
                        <div class="col-md-3" style="background-color: rgba(122, 214, 128, 1);width: 20px;height: 15px;"></div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul id="discussion"></ul>
    </div>
</div>
<style>
    .dashboard .level-4 {
        margin-right: 60px !important;
    }

    .dashboard .level-3 {
        margin-right: 30px !important;
    }

    .dashboard .level-2 {
        margin-right: 5px !important;
    }

    .dashboard2 .panel {
        overflow: hidden !important;
    }

    .panel-title {
        direction: rtl;
        text-transform: uppercase !important;
        opacity: 0.9 !important;
        font-size: 25px !important;
        text-align: right !important;
        position: relative !important;
    }
</style> 