

<div ng-controller="dataManageCtrl" style="padding-top:25px">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
        <div ba-panel ba-panel-title="{{'m8'|t}}" ba-panel-class="with-scroll" style="background-color:white">
            <div class="row" style="padding-top:30px;">
                <div class="col-md-12">
                    <div class="col-md-5"> </div>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="year" ng-change="changeDate()">
                            <option value='2017'>{{'2017'|t}} </option>
                            <option value='2018'>{{'2018'|t}}  </option>
                            <option value='2019'>{{'2019'|t}}  </option>
                            <option value='2020'>{{'2020'|t}}  </option>
                            <option value='2021'>{{'2021'|t}}  </option>
                            <option value='2022'>{{'2022'|t}}  </option>
                            <option value='2023'>{{'2023'|t}}  </option>
                            <option value='2024'>{{'2024'|t}}  </option>
                            <option value='2025'>{{'2025'|t}}  </option>
                            <option value='2026'>{{'2026'|t}}  </option>
                            <option value='2027'>{{'2027'|t}}  </option>
                            <option value='2028'>{{'2028'|t}}  </option>
                            <option value='2029'>{{'2029'|t}}  </option>
                            <option value='2030'>{{'2030'|t}}  </option>
                            <option value='2031'>{{'2031'|t}}  </option>
                            <option value='2032'>{{'2032'|t}}  </option>
                            <option value='2033'>{{'2033'|t}}  </option>
                        </select>
                    </div>
                    <div class="col-md-2"><label>{{'dataManage16'|t}} </label></div>
                    <div class="col-md-5">  </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-2"> </div>
                <div class="col-md-8">
                    <table class="tableStyle1" style="direction:rtl;margin-top:40px">
                        <thead>
                            <tr>
                                <th><label>  </label></th>
                                <th><label>{{'dataManage17'|t}} </label></th>
                                <th><label>{{'dataManage18'|t}} </label></th>
                                <th><label>{{'dataManage19'|t}} </label></th>
                                <th><label>{{'dataManage20'|t}} </label></th>
                            </tr>
                        </thead>
                        <tbody id="MyEventsTbody">
                            <tr ng-repeat="o in MngHolidayList "  ng-if="MngHolidayList.length>0">
                                <td><input type="radio" ng-hide="{{o.HolidayFlag}}" ng-model="$parent.HolidayID2" name="HolidayID" id="{{o.HolidayID}}" value="{{o.HolidayID}}" style="min-height:20px; min-width:20px;background-color:transparent" ng-change="HolidayIDChecked({{o}})" class="form-control" /></td>
                                <td><label>{{o.HolidayName}} </label></td>
                                <td> <input class="form-control HebDate expended-datePicker" id="s{{o.HolidayName}}" style="width: 100%;" value="{{o.HYStartDate}}" />  </td>
                                <td> <input class="form-control HebDate expended-datePicker" id="e{{o.HolidayName}}" style="width: 100%;" value="{{o.HYEndDate}}" />  </td>
                                <td><label>{{o.HolidayFactor}} </label></td>
 
                            </tr>
                            <tr>
                                <td></td>
                                <td><input ng-model="newHoliday.HolidayName" class="form-control" placeholder="{{'HolidayName'|t}}" /></td>
                                <td> <input class="form-control HebDate expended-datePicker" id="newStartDate" style="width: 100%;" />  </td>
                                <td> <input class="form-control HebDate expended-datePicker" id="newEndDate" style="width: 100%;"   />  </td>
                                
                                <td><input ng-model="newHoliday.HolidayFactor" class="form-control" placeholder="{{'HolidayFactor'|t}}" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2"> </div>
            </div>
            <div class="row" style=" padding: 30px; ">
                <div class="col-md-12">
                    <div class="col-md-3"> </div>
                    <!--<div class="col-md-2"> <input style="background-color:#30c8b8!important;" id="Button1" class="form-control" type="button" value="{{'dataManage24'|t}}" />  </div>-->
                    <div class="col-md-2"><input style="background-color:#30c8b8!important;" id="Button1" class="form-control" type="button" ng-click="SaveDates()" value="{{'dataManage25'|t}}" />  </div>
                    <div class="col-md-2"> <input style="background-color:#30c8b8!important;" id="Button1" class="form-control" type="button" ng-click="DeleteDate()" value="{{'dataManage15'|t}}" />  </div>
                    <div class="col-md-2"> <input style="background-color:#30c8b8!important;" id="Button1" class="form-control" type="button" ng-click="AddDate()" value="{{'dataManage14'|t}}" />  </div>
                    <div class="col-md-3"> </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="col-md-2"> </div>
<style>
    .panel-title {
        direction: rtl;
        font-weight: $font-normal !important;
        text-transform: uppercase !important;
        opacity: 0.9 !important;
        font-size: 34px !important;
        text-align: center !important;
        /*margin: 10px !important;*/
        position: relative !important;
    }
</style>
