

<div ng-controller="generalReportCtrl" style="padding-top: 60px;">
    <div class="col-md-1"> </div>
    <div class="col-md-10">
        <div ba-panel ba-panel-title="{{'m1'|t}}" ba-panel-class="" style="direction:rtl;background-color:white">
            <div class="col-md-12" style="padding-top:40px">
                <div class="col-md-12">
                    <div class="row" style="padding-bottom:20px">
                        <div class="col-md-3">  <input kendo-date-picker class="form-control k-rtl" ng-blur="changeDateDiscard()" id="discardTo" k-format="'dd/MM/yyyy'" k-ng-model="discardTo" style="width: 100%;" /> </div>
                        <div class="col-md-1"> <label>{{'historyInd9'|t}} </label>  </div>
                        <div class="col-md-3"> <input kendo-date-picker class="form-control k-rtl" ng-blur="changeDateDiscard()" id="discardFrom" k-format="'dd/MM/yyyy'" k-ng-model="discardFrom" style="width: 100%;" />  </div>
                        <div class="col-md-1">  <label>{{'historyInd8'|t}} </label>  </div>
                        <div class="col-md-4"> <label style="font-size: 23px;">{{'report9'|t}}</label></div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div style="height: 420px;">
                                <canvas style="height:400px!important" id="bar" class="chart chart-bar" chart-data="dataBar2" chart-labels="labelsBar2" chart-series="seriesBar2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"> </div>
</div>
    <style>
        .panel-title {
            direction: rtl;
            font-weight: $font-normal !important;
            text-transform: uppercase !important;
            opacity: 0.9 !important;
            font-size: 34px !important;
            text-align: center !important;
            /*margin: 10px !important;*/
            position: relative !important;
        }
    </style>
