

<div ng-controller="report2Ctrl">
    <div class="col-md-2"> </div>
    <div class="col-md-8">

        <div style="margin-top: 40px; direction: rtl; background-color: white;direction:rtl" ba-panel ba-panel-title="{{'m2'|t}}" ba-panel-class="">
            <div class="row" style="padding-top:30px;">
                <div class="col-md-1">
                    <input ng-click="ExcelExportData()" style="width:100%;background-color:#30c8b8!important;" id="Button1" class="form-control" type="button" value="{{'report5'|t}}" />
                </div>
                <div class="col-md-1">
                    <input ng-click="Back()" style="width:100%;background-color:#30c8b8!important;" id="Button1" class="form-control" type="button" value="{{'report6'|t}}" />
                </div>

                <div class="col-md-2">
                    <select class="form-control" id="CurrentStatus" ng-change="ChangeStatus()" ng-model="CurrentStatus">
                        <option ng-repeat="opt in StatusMeuchad">{{opt.Description}}</option>
                    </select>
                </div>
                <div class="col-md-2" style="width:12%">
                    <label style="font-weight: 800;">{{'report3'|t}} </label>
                </div>
                <div class="col-md-4">
                    <label ng-if="FormType">{{FormType}} </label>
                </div>
                <div class="col-md-2" style="width:10%">
                    <label style="font-weight: 800;">{{'historyInd2'|t}} </label>
                </div>
            </div>
            <div class="row" style="padding-top: 15px;">
                <div class="col-md-9">
                    <textarea rows="3" style="border: currentColor; border-image: none; min-width: 100%;" ng-if="FormType">{{SelectedDate}} </textarea>
                </div>
                <div class="col-md-2" style="width:20%" >
                    <label style="font-weight: 800;">{{'report10'|t}} </label>
                </div>
            </div>
            <div >
                <div class="col-md-8"> </div>
                <div class="col-md-4">
                    <label style="font-weight:400;" ng-show="bigFrom500">{{'report11'|t}} </label>
                </div>
            </div>
            <div id="divLoad" ng-show="divLoading"></div>
            <div class="row" style="min-height: 450px;">
                <div class="col-lg-12 col-md-12" style=" padding-top: 30px; ">
                    <div style="direction: rtl">
                        <div style=" direction: rtl;">
                            <table class="table table-hover" style="margin-bottom: 40px; ">
                                <thead>
                                    <tr class="black-muted-bg">
                                        <th class="align-right">{{'th1'|t}}</th>
                                        <th class="align-right">{{'th2'|t}}</th>
                                        <th class="align-right">{{'th3'|t}}</th>
                                        <th class="align-right">{{'th4'|t}}</th>
                                        <th class="align-right">{{'th7'|t}}</th>
                                        <th class="align-right">{{'th14'|t}}</th>
                                        <th class="align-right">{{'th15'|t}}</th>
                                        <th class="align-right">{{'th16'|t}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in tableData track by $index" class="no-top-border" ng-click="FormDrillClick(item[0])">
                                        <td ng-repeat="item2 in item track by $index" ng-class="align-center">{{item2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="col-md-2"> </div>
<style>
    .panel-title {
        direction: rtl;
        font-weight: $font-normal !important;
        text-transform: uppercase !important;
        opacity: 0.9 !important;
        font-size: 34px !important;
        text-align: center !important;
        /*margin: 10px !important;*/
        position: relative !important;
    }

    .panel {
        overflow: hidden;
    }
</style>
