@import "common.scss?ver=05.01";

html {
  position: relative;
  min-width: 320px;
}

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  font: 12px/16px $font-family;
  color: $default-text;
  @include main-background();
  display: flex;
  align-items: center;
}

.page-not-found-modal {
  width: 638px;
  margin: 0 auto;
  @include bg-translucent-dark(0.5);
  border-radius: 5px;
  font-weight: $font-light;
  color: #ffffff;
  padding: 32px;
  text-align: center;

  h1 {
    font-weight: $font-light;
    margin-bottom: 32px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: $primary;
    display: inline-block;
    &:hover {
      color: $primary-dark;
    }
  }
}