<div class="horizontal-scroll">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="browser-icons"></th>
                <th>{{'th1'|t}}</th>
                <th class="align-left">{{'th2'|t}}</th>
                <th class="align-left">{{'th3'|t}}</th>
                <th class="align-left">{{'th4'|t}}</th>
                <th class="align-left">{{'th5'|t}}</th>
                <th class="align-left">{{'th6'|t}}</th>
                <th class="align-left">{{'th7'|t}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in metricsTableData">
                <td><img ng-src="{{::( item.image | appImage )}}" width="20" height="20"></td>
                <td ng-class="nowrap">{{item.td1}}</td>
                <td class="align-right">{{item.td2}}</td>
                <td class="align-right">{{item.td3}}</td>
                <td class="align-right">{{item.td4}}</td>
                <td class="align-right">{{item.td5}}</td>
                <td class="align-right">{{item.td6}}</td>
                <td class="align-right">{{item.td7}}</td>
            </tr>
        </tbody>
    </table>
</div>