<div class="horizontal-scroll" style="direction:rtl">
    <table class="table table-hover">
        <thead>
            <tr class="black-muted-bg">
                <th class="align-right">{{'th8'|t}}</th>
                <th class="align-right">{{'th10'|t}}</th> 
                <th class="align-right">{{'th11'|t}}</th>
                <th class="table-arr"></th>
                <th class="align-right">{{'th12'|t}}</th>
                <th class="table-arr"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in metricsTableData3" class="no-top-border">
                <td ng-class="align-center"><a ng-click="FormWatchClick()">{{item.td1}}</a></td>
                <td ng-class="align-center">{{item.td2}}</td>
                <td class="align-center">{{item.td3}}</td>
                <td class="table-arr"><i ng-class="{'icon-up': item.isVisitsUp, 'icon-down': !item.isVisitsUp }"></i></td>
                <td class="align-center">{{item.td4}}</td>
                <td class="table-arr"><i ng-class="{'icon-up': item.isPurchasesUp, 'icon-down': !item.isPurchasesUp }"></i></td>
            </tr>
        </tbody>
    </table>
</div>