<!--<div class="horizontal-scroll" style="width:900px; direction: rtl;">
    <table class="table table-hover">
        <thead>
            <tr class="black-muted-bg">
                <th class="align-right">{{'th1'|t}}</th>
                <th class="align-right">{{'th2'|t}}</th>
                <th class="align-right">{{'th3'|t}}</th>
                <th class="align-right">{{'th4'|t}}</th>
                <th class="align-right">{{'th5'|t}}</th>
                <th class="align-right" >{{'th6'|t}}</th>
                <!--<th class="table-arr"></th>
                <th class="align-right">{{'th7'|t}}</th>
                <th class="table-arr"></th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in metricsTableData" class="no-top-border" >
                <td ng-class="align-center"><a >{{item.Id}}</a></td>
                <td ng-class="align-center">{{item.TypeFormName}}</td>
                <td ng-class="align-center">{{item.CreateDate}}</td>
                <td ng-class="align-center">{{item.StatusName}}</td>
                <td ng-class="align-center">{{item.Sla}}</td>
                <td ng-class="align-center">{{item.Sla}}</td>
                <!--<td class="table-arr"><i ng-class="{'icon-up': item.isVisitsUp, 'icon-down': !item.isVisitsUp }"></i></td>
                <td class="align-center">{{item.td7}}</td>
                <td class="table-arr"><i ng-class="{'icon-up': item.isPurchasesUp, 'icon-down': !item.isPurchasesUp }"></i></td>-->
            </tr>
        </tbody>
    </table>
</div>-->