<div class="row pie-charts" >
    <div class="pie-chart-item-container" ng-repeat="chart in charts">
        <div ba-panel style="padding-right:55px;" >
            <div class="pie-chart-item" >
                <div class="chart" rel="{{ ::chart.color }}" data-percent="{{ ::chart.datapercent }}"> <span class="percent"></span> </div>
                <div class="description">
                    <div>{{ ::chart.description }}</div>
                    <div class="description-stats">{{ ::chart.stats }}</div>
                </div>
                <i class="chart-icon i-{{ ::chart.icon }}"></i>
            </div>
        </div>
    </div>
</div>